body{
    font-family: 'Arial Narrow Bold', sans-serif;
}
h1{
    font-size: 3em;
    flex-grow: 1;
    /* flex-basis: 50%; */
    text-wrap: nowrap;
    border:5px,black,solid;
}


.GradeAndInputs{
    display:flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    border:5px,black,solid;
}

.GroupsInput{
    display:inline-grid;
    border: 1.2px solid black;
    padding: 10px;
    margin: 10px;
    grid-template-columns: auto auto;
}
.GroupsInput h3{
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bolder;
    
}
.GroupsInput input{
    padding:3px;
    margin: 5px;
    border-radius: 2px;
    border:0.2px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
}
.GroupsInput button{
    font-size: 0.75rem;
    padding: 5px;
    border: 0.5px solid black;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(211, 211, 211);
    grid-column-start: 1;
    grid-column-end: 3;
}


.GroupsInput ul{
    list-style: none;
    padding-inline-start: 0;
    font-size: 100%;
}

.AssignmentsInput{
    display:inline-grid;
    border: 1.2px solid black;
    padding: 10px;
    margin: 10px;
}
.AssignmentsInput input{
    padding:3px;
    margin: 5px;
    border-radius: 2px;
    border:0.2px solid black;
}

.AssignmentsInput select{
    padding:3px;
    margin: 5px;
    border-radius: 2px;
    border:0.2px solid black;
}

.AssignmentsInput h3{
    margin: 5px;
    font-weight: bolder;
}

.AssignmentsInput button{
    font-size: 0.75rem;
    padding: 5px;
    border: 0.5px solid black;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(211, 211, 211);
}